body{
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.CodeMiror{
  height: 100% !important;
}

.top-pane{
  background-color: black;
  color: white;
  height: 50vh;
  display: flex;
  flex-grow: 1;
  flex-direction:row;
}

.editor-container{
  width: 100%;
  padding: 0.5rem;
  background-color: rgb(48, 46, 46);
  border-bottom-right-radius:0.5rem !important;
  border-bottom-left-radius:0.5rem !important;
}

.title-bar{
  background-color: black;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  border-radius: 0.5rem;
  color: #FE5800;
}

.code-mirror-wrapper{
  border-bottom-right-radius:0.5rem !important;
  border-bottom-left-radius:0.5rem !important;
  overflow: hidden;
}

.navbar{
  padding: 0.5rem;
  padding-right: 1rem;
  white-space: nowrap;
  padding-top: 0;
}

.preview-pane{
  height: 50vh;
}

.menu-items{
  display: flex;
  flex-direction:column;
  flex-grow: 1;
}

.btn{
  border-radius: 0.5rem;
  background-color: rgb(48, 46, 46);
  color: white;
  border-color: none;
  border: none;
  padding: 0.5rem;
  margin-top: 0.5rem;
  cursor: pointer;
}
.btn.active{
  background-color: green;
  cursor: not-allowed;
}
